<div class="backButton">
<a href="/"><button>Go Back</button></a>
</div>
<div class="fillerWordTitle">
    Filler Word Counter
</div>

<div class="fillerWordCounter">
<button ng-click="countUm = countUm + 1" ng-init="count=0">Um:  {{countUm}}</button>


<!--
    <div class="divider"></div>
-->

<button ng-click="countUh = countUh + 1" ng-init="count=0">Uh:  {{countUh}}</button>





<button ng-click="countLike = countLike + 1" ng-init="count=0">Like:  {{countLike}}</button>


    <br>
    <br>

    <!--<div class="divider"></div>-->


<button ng-click="countKnow = countKnow + 1" ng-init="count=0">You know:  {{countKnow}}</button>



<button ng-click="countSo = countSo + 1" ng-init="count=0">So:  {{countSo}}</button>


    <!--<div class="divider"></div>
-->
    <button ng-click="countAnd = countAnd + 1" ng-init="count=0">And:  {{countAnd}}</button>

</div>



