<a href="/"><button>Go Back</button></a>
<div class="fillerTitle">
    Filler Word Counter
</div>

<div class="clickCounter">
<button ng-model="countOne" ng-click="count = count + 1" ng-init="count=0"></button>
    Um: {{countOne}}
<br>
<br>

<button ng-model="countTwo" ng-click="count = count + 1" ng-init="count=0"></button>
    Uh: {{countTwo}}

<br>
<br>

 <button ng-model="countThree" ng-click="count = count + 1" ng-init="count=0"></button>
    Like: {{countThree}}

<br>
<br>

<button ng-model="countFour" ng-click="count = count + 1" ng-init="count=0"></button>
    You know: {{countFour}}

<br>
<br>

<button ng-model="countFive" ng-click="count = count + 1" ng-init="count=0"></button>
    So: {{countFive}}
</div>



