<div class="adminButton">
    <a href="/admin"><button>Admin</button></a>
</div>

<div class="homeTitleOne">
    Welcome to the Toastmaster's edition of...
</div>
<div class="homeTitleTwo">
    Talk Nerdy to Me
</div>

<div class="homePageButtons">
    <a href="/timer"><button class="btn btn-black btn-lg">Timer</button></a>
    <a href="/filler"><button class="btn btn-black btn-lg">Filler-Word Counter</button></a>
    <a href="/grammarian"><button class="btn btn-black btn-lg">Grammarian</button></a>
</div>